@model Center_Education_Management.Models.TeacherEducationalStage

@{
    ViewData["Title"] = "Edit TeacherEducationalStage";
}

<h2>Edit TeacherEducationalStage</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="TeacherId" class="form-label"></label>
                        <input asp-for="TeacherId" class="form-control" type="number" />
                        <span asp-validation-for="TeacherId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="StageId" class="form-label"></label>
                        <input asp-for="StageId" class="form-control" type="number" />
                        <span asp-validation-for="StageId" class="text-danger"></span>
                    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
